@model IEnumerable<sce.model.ItemPedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemPedidoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemPedidoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemPedidoID })
        </td>
    </tr>
}

</table>
